/* line 12, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, .address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../sass/_reset.scss */
ul, ol, li {
  list-style: none;
}

/* line 23, ../sass/_reset.scss */
a {
  text-decoration: none;
}

/* line 26, ../sass/_reset.scss */
:focus {
  outline: 0;
}

/* line 11, ../sass/_all.scss */
.b-orderlist li:nth-child(1) {
  padding-left: 10px;
}
/* line 11, ../sass/_all.scss */
.b-orderlist li:nth-child(2) {
  padding-left: 15px;
}
/* line 11, ../sass/_all.scss */
.b-orderlist li:nth-child(3) {
  padding-left: 20px;
}
/* line 11, ../sass/_all.scss */
.b-orderlist li:nth-child(4) {
  padding-left: 25px;
}
/* line 11, ../sass/_all.scss */
.b-orderlist li:nth-child(5) {
  padding-left: 30px;
}
/* line 11, ../sass/_all.scss */
.b-orderlist li:nth-child(6) {
  padding-left: 35px;
}
/* line 11, ../sass/_all.scss */
.b-orderlist li:nth-child(7) {
  padding-left: 40px;
}
/* line 11, ../sass/_all.scss */
.b-orderlist li:nth-child(8) {
  padding-left: 45px;
}
/* line 11, ../sass/_all.scss */
.b-orderlist li:nth-child(9) {
  padding-left: 50px;
}

/* line 40, ../sass/_all.scss */
.b-orderlist li {
  list-style: decimal;
}

/* line 43, ../sass/_all.scss */
.l-holder {
  background-color: #baff00;
  border: 3px solid #cccccc;
  margin: 0 auto;
  padding: 50px;
  width: 800px;
}

/* line 50, ../sass/_all.scss */
.b-inputtext {
  -webkit-border-radius: 145px;
  -moz-border-radius: 145px;
  border-radius: 145px;
  padding: 0 7px;
}
/* line 17, ../sass/_all.scss */
.b-inputtext::-webkit-input-placeholder {
  opacity: 1;
  text-transform: uppercase;
  color: black;
}
/* line 20, ../sass/_all.scss */
.b-inputtext:-moz-placeholder {
  opacity: 1;
  text-transform: uppercase;
  color: black;
}
/* line 23, ../sass/_all.scss */
.b-inputtext::-moz-placeholder {
  opacity: 1;
  text-transform: uppercase;
  color: black;
}
/* line 26, ../sass/_all.scss */
.b-inputtext:-ms-input-placeholder {
  opacity: 1;
  text-transform: uppercase;
  color: black;
}

/* line 60, ../sass/_all.scss */
.b-orderlist {
  padding: 15px 0 15px 35px;
}
/* line 62, ../sass/_all.scss */
.b-orderlist li {
  list-style: decimal;
  padding-left: 10px;
}
/* line 68, ../sass/_all.scss */
.b-orderlist li:hover {
  border-left: 10px solid #cccccc;
  cursor: pointer;
  outline: 1px solid #cccccc;
  padding-left: 0;
}

/*Make few commits in "feature/test1" branch*/
