
$color-white: #FFF;
$color-black: #000;
$color-gray: #CCC;
$color-lime: #BAFF00;
$color: color;
$holder-width: 800px;
$list: 10px, 15px, 20px, 25px, 30px, 35px, 40px, 45px, 50px;
%list-padding {
   @for $i from 1 through length($list) {
      &:nth-child(#{$i}) {
         padding-left: nth($list, $i);
      }
   }
}
@mixin placeholder {
   &::-webkit-input-placeholder {
      @content
   }
   &:-moz-placeholder {
      @content
   }
   &::-moz-placeholder {
      @content
   }
   &:-ms-input-placeholder {
      @content
   }
}
@mixin opacity($opacity) {
   opacity: $opacity;

   filter: alpha(opacity=$opacity*100);
}
@mixin rounding($rounding) {
   -webkit-border-radius: $rounding;
      -moz-border-radius: $rounding;
           border-radius: $rounding;
}
%list-decimal {
   list-style: decimal;
}
.l-holder {
   background-#{$color}: if($holder-width>=800,$color-lime,$color-white) ;
   border: 3px solid $color-gray;
   margin: 0 auto;
   padding: 50px;
   width: $holder-width;
}
.b-inputtext {
   @include rounding(145px);
   @include placeholder {
      opacity: 1;
      text-transform: uppercase;

      #{$color}: $color-black;
   }
   padding: 0 7px;
}
.b-orderlist {
   padding: 15px 0 15px 35px;
   li {
      @extend %list-decimal;
      @extend %list-padding;

      list-style: decimal;
      padding-left: 10px;
      &:hover {
         border-left: 10px solid $color-gray;
         cursor: pointer;
         outline: 1px solid $color-gray;
         padding-left: 0;
      }
   }
}
/*Make few commits in "feature/test1" branch*/

